@using Microsoft.AspNetCore.Identity;
@using Zust.Entities.Models;
@using Zust.Web.Helpers.ConstantHelpers;
@model IndexViewModel;
@{
    var userManager = Context.RequestServices.GetService<UserManager<User>>();
    var user = await userManager.GetUserAsync(Context.User);
    ViewData["Title"] = "Zust - Home Page";
}

<style>
    .profile-image {
        height: 100px !important;
        width: 100px !important;
        object-fit: cover;
    }

    #file-upload {
        display: none;
    }

    .hidden {
        display: none;
    }

    #media-preview {
        max-width: 100%;
        height: auto;
        margin-top: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

        #media-preview video {
            max-width: 100%;
            max-height: 100%;
            width: auto; /* Ensure video width adjusts based on aspect ratio */
            height: auto; /* Ensure video height adjusts based on aspect ratio */
        }

    #text-area {
        font-size: 17px;
        padding: 10px 12px;
        border: 1px solid var(--black-color);
    }

    #btn-container {
        display: flex;
        gap: 10px;
    }

        #btn-container button {
            padding: 5px 25px !important;
            font-size: 14px !important;
        }

    #followers-spinner {
        margin-top: 40px;
        color: var(--main-color);
    }

    #spinner-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .loading-text {
        opacity: 0; /* Initially hidden */
        animation-name: fadeIn;
        animation-duration: 2s;
        animation-fill-mode: forwards; /* Keep the final state of the animation */
        animation-iteration-count: infinite; /* Repeat the animation indefinitely */
    }

    @@keyframes fadeIn {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }

    .button-group {
        gap: 20px;
    }

    .photo-btn button,
    .tag-btn button {
        min-height: 15px !important;
        font-size: 17px !important;
    }

    @@media only screen and (max-width: 767px) {
        .photo-btn,
        .tag-btn {
            margin-bottom: 10px;
        }
    }

    .image-post {
        background-color: #fcfcfc;
    }

    .fit-image {
        max-width: 100%;
        max-height: 650px; /* Adjust the height as per your requirement */
        object-fit: contain;
    }

    .advertisement-image {
        background-color: black;
        display: flex;
        justify-content: center;
        align-content: center;
        border-radius: 5px;
        margin-bottom: 20px; /* Adjust the value as per your desired gap size */
    }

        .advertisement-image:last-child {
            margin-bottom: 0; /* Remove the margin for the last advertisement */
        }

    .widget-view-profile::before {
        background-image: url(@user.CoverImage) !important;
    }
</style>

<div class="row">
    <div class="col-lg-3 col-md-12">
        <aside class="widget-area">
            @*View Profile*@
            <div class="widget widget-view-profile">
                <div class="profile-box d-flex justify-content-between align-items-center">
                    <a href="/home/my-profile"><img src="@user.ImageUrl" alt="image" class="profile-image"></a>
                    <div class="text ms-2">
                        <h3><a href="/home/my-profile">@user.UserName</a></h3>
                        <span>@user.Birthplace</span>
                    </div>
                </div>
                <ul class="profile-statistics">
                    <li>
                        <a>
                            <span class="item-number" id="post-like-count">0</span>
                            <span class="item-text">Likes</span>
                        </a>
                    </li>
                    <li>
                        <a>
                            <span class="item-number" id="following-count">0</span>
                            <span class="item-text">Following</span>
                        </a>
                    </li>
                    <li>
                        <a>
                            <span class="item-number" id="follower-count">0</span>
                            <span class="item-text">Followers</span>
                        </a>
                    </li>
                </ul>
                <div class="profile-btn">
                    <a href="/home/my-profile" class="default-btn">View Profile</a>
                </div>
            </div>

            @*Page You Like*@
            <div class="widget widget-page-you-like">
                <h3 class="widget-title">Page You Like</h3>

                <article class="item">
                    <a href="#" class="thumb">
                        <span class="fullimage bg1" role="img"></span>
                    </a>

                    <div class="info">
                        <h4 class="title">
                            <a href="#">Graphic Design</a>
                        </h4>
                        <span>1215 Members</span>
                    </div>
                </article>
                <article class="item">
                    <a href="#" class="thumb">
                        <span class="fullimage bg2" role="img"></span>
                    </a>

                    <div class="info">
                        <h4 class="title">
                            <a href="#">Digital Marketing</a>
                        </h4>
                        <span>1865 Members</span>
                    </div>
                </article>
                <article class="item">
                    <a href="#" class="thumb">
                        <span class="fullimage bg3" role="img"></span>
                    </a>

                    <div class="info">
                        <h4 class="title">
                            <a href="#">Fitness Club</a>
                        </h4>
                        <span>2051 Members</span>
                    </div>
                </article>
                <article class="item">
                    <a href="#" class="thumb">
                        <span class="fullimage bg4" role="img"></span>
                    </a>

                    <div class="info">
                        <h4 class="title">
                            <a href="#">Dream Restaurant</a>
                        </h4>
                        <span>5214 Members</span>
                    </div>
                </article>
                <article class="item">
                    <a href="#" class="thumb">
                        <span class="fullimage bg5" role="img"></span>
                    </a>

                    <div class="info">
                        <h4 class="title">
                            <a href="#">Travel Life</a>
                        </h4>
                        <span>9589 Members</span>
                    </div>
                </article>
            </div>

            @*Static Watch Videos*@
            <div class="widget widget-watch-video">
                <h3 class="widget-title">Watch Video</h3>

                <div class="watch-video-slides owl-carousel owl-theme" id="item">
                    @foreach (var videoItem in Model.WatchVideos)
                    {
                        <div class="video-item">
                            <img src="@videoItem.ImageUrl" alt="image">

                            <a href="@videoItem.VideoUrl" class="video-btn popup-youtube">
                                <i class="ri-play-fill"></i>
                            </a>
                        </div>
                    }
                </div>
            </div>

            <div class="widget widget-advertisement">
                <h3 class="widget-title">Advertisements</h3>

                @foreach (var ads in Model.Advertisements)
                {
                    <a class="advertisement-image" href="@ads.AdvertisementUrl" onmouseover="advertisementHoverHandle(this.querySelector('img'), '@ads.LogoUrl')" onmouseout="restoreOriginalSize(this.querySelector('img'), '@ads.AdvertisementImageUrl')">
                        <img src="@ads.AdvertisementImageUrl" alt="Image">
                    </a>
                }
            </div>

            <div class="widget widget-suggested-groups">
                <h3 class="widget-title">Suggested Groups</h3>
                <article class="item">
                    <a href="#" class="thumb">
                        <span class="fullimage bg1" role="img"></span>
                    </a>

                    <div class="info">
                        <h4 class="title">
                            <a href="#">UX/UI Design Group</a>
                        </h4>
                        <span>5000+ Members</span>
                        <a href="#" class="join-btn">Join Community</a>
                    </div>
                </article>
                <article class="item">
                    <a href="#" class="thumb">
                        <span class="fullimage bg2" role="img"></span>
                    </a>

                    <div class="info">
                        <h4 class="title">
                            <a href="#">Job Search Group</a>
                        </h4>
                        <span>5000+ Members</span>
                        <a href="#" class="join-btn">Join Community</a>
                    </div>
                </article>
                <article class="item">
                    <a href="#" class="thumb">
                        <span class="fullimage bg3" role="img"></span>
                    </a>

                    <div class="info">
                        <h4 class="title">
                            <a href="#">Photography Group</a>
                        </h4>
                        <span>5000+ Members</span>
                        <a href="#" class="join-btn">Join Community</a>
                    </div>
                </article>
            </div>
        </aside>
    </div>

    <div class="col-lg-6 col-md-12">
        <div class="news-feed-area">
            <div id="spinner-container">
            </div>

            <div class="news-feed news-feed-form" id="post-form">
            </div>

            <div class="news-feed news-feed-stories">
                <div class="stories-title d-flex justify-content-between align-items-center">
                    <h3>Statuses</h3>
                </div>

                <div class="row" id="statuses">
                </div>
            </div>

            <div id="posts-container">
            </div>

            <div class="load-more-posts-btn" id="loader">
                <a onclick="loadPosts()" style="cursor:pointer;"><i class="flaticon-loading"></i> Load More Posts</a>
            </div>
        </div>
    </div>

    <div class="col-lg-3 col-md-12">
        <aside class="widget-area">
            <div class="widget widget-weather">
                <div class="weather-image">
                    <a href="#"><img src="~/assets/images/weather/weather.jpg" alt="image"></a>
                </div>
            </div>
            <div class="widget widget-birthday">
                <div class="birthday-title d-flex justify-content-between align-items-center">
                    <h3>Today Birthdays</h3>
                </div>

                <div id="today-birthdays">
                    <article class="item">
                        <a href="#" class="thumb">
                            <span class="fullimage bg1" role="img"></span>
                        </a>

                        <div class="info">
                            <h4 class="title">
                                <a href="#">Earline Benally</a>
                            </h4>
                            <span>Today</span>
                        </div>
                    </article>
                    <article class="item">
                        <a href="#" class="thumb">
                            <span class="fullimage bg2" role="img"></span>
                        </a>

                        <div class="info">
                            <h4 class="title">
                                <a href="#">Jack Gulley</a>
                            </h4>
                            <span>Today</span>
                        </div>
                    </article>
                </div>

                <div class="birthday-title d-flex justify-content-between align-items-center">
                    <h3>Recent Birthdays</h3>
                    <span><a href="#">See All</a></span>
                </div>
                <article class="item">
                    <a href="#" class="thumb">
                        <span class="fullimage bg3" role="img"></span>
                    </a>

                    <div class="info">
                        <h4 class="title">
                            <a href="#">Lolita Benally</a>
                        </h4>
                        <span>May 18</span>
                    </div>
                </article>
                <article class="item">
                    <a href="#" class="thumb">
                        <span class="fullimage bg4" role="img"></span>
                    </a>

                    <div class="info">
                        <h4 class="title">
                            <a href="#">Russell Gulley</a>
                        </h4>
                        <span>May 20</span>
                    </div>
                </article>

                <div class="birthday-title d-flex justify-content-between align-items-center">
                    <h3>Coming Birthdays</h3>
                    <span><a href="#">See All</a></span>
                </div>
                <article class="item">
                    <a href="#" class="thumb">
                        <span class="fullimage bg5" role="img"></span>
                    </a>

                    <div class="info">
                        <h4 class="title">
                            <a href="#">Cindy L. Wilson</a>
                        </h4>
                        <span>July 18</span>
                    </div>
                </article>
                <article class="item">
                    <a href="#" class="thumb">
                        <span class="fullimage bg6" role="img"></span>
                    </a>

                    <div class="info">
                        <h4 class="title">
                            <a href="#">Patricia E. Looney</a>
                        </h4>
                        <span>July 20</span>
                    </div>
                </article>
                <article class="item">
                    <a href="#" class="thumb">
                        <span class="fullimage bg7" role="img"></span>
                    </a>

                    <div class="info">
                        <h4 class="title">
                            <a href="#">James G. Nelson</a>
                        </h4>
                        <span>July 21</span>
                    </div>
                </article>
            </div>
            <div class="widget widget-explore-events">
                <h3 class="widget-title">Explore Events</h3>

                <article class="item">
                    <a href="#"><img src="~/assets/images/explore-events/explore-1.jpg" alt="image"></a>
                </article>
                <article class="item">
                    <a href="#"><img src="~/assets/images/explore-events/explore-2.jpg" alt="image"></a>
                </article>
            </div>
            @*       <div class="widget widget-who-following">
            <h3 class="widget-title">Who's Following</h3>

            <div class="following-item d-flex justify-content-between align-items-center">
            <a href="#"><img src="~/assets/images/user/user-42.jpg" class="rounded-circle" alt="image"></a>
            <span class="name"><a href="#">Shawn Lynch</a></span>
            <span class="add-friend"><a href="#">Add</a></span>
            </div>
            <div class="following-item d-flex justify-content-between align-items-center">
            <a href="#"><img src="~/assets/images/user/user-43.jpg" class="rounded-circle" alt="image"></a>
            <span class="name"><a href="#">Kenneth Perry</a></span>
            <span class="add-friend"><a href="#">Add</a></span>
            </div>
            <div class="following-item d-flex justify-content-between align-items-center">
            <a href="#"><img src="~/assets/images/user/user-44.jpg" class="rounded-circle" alt="image"></a>
            <span class="name"><a href="#">Janet Suarez</a></span>
            <span class="add-friend"><a href="#">Add</a></span>
            </div>
            <div class="following-item d-flex justify-content-between align-items-center">
            <a href="#"><img src="~/assets/images/user/user-45.jpg" class="rounded-circle" alt="image"></a>
            <span class="name"><a href="#">Brian Mingo</a></span>
            <span class="add-friend"><a href="#">Add</a></span>
            </div>
            <div class="following-item d-flex justify-content-between align-items-center">
            <a href="#"><img src="~/assets/images/user/user-46.jpg" class="rounded-circle" alt="image"></a>
            <span class="name"><a href="#">Julia Ramos</a></span>
            <span class="add-friend"><a href="#">Add</a></span>
            </div>
            </div>*@
        </aside>
    </div>
</div>

<script src="~/assets/js/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="~/assets/js/functions.js"></script>
<script src="~/assets/js/bootstrap.bundle.min.js"></script>
<script src="~/assets/js/jquery.magnific-popup.min.js"></script>
<script src="~/assets/js/jquery-ui.min.js"></script>
<script src="~/assets/js/simplebar.min.js"></script>
<script src="~/assets/js/metismenu.min.js"></script>
<script src="~/assets/js/owl.carousel.min.js"></script>
<script src="~/assets/js/wow.min.js"></script>
<script src="~/assets/js/main.js"></script>
<script src="~/assets/js/view/index.js"></script>

